In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [2]:
# explore dataset
df = pd.read_csv('synthetic/summary_clean.csv')

In [3]:
df.head()

,Unnamed: 0,id,article,gpt_summary,gpt_keywords,human_summary
0,0,02268ba08216bf41f800a591340fa3ca516d821b,(CNN) -- A British tourist in the United State...,"A British tourist, John Stephen Busby, was kil...","['crash', 'vintage', 'tourist', 'Galveston', '...",Man was in the United States for his 41st wedd...
1,1,02271084074dc719dfa84594eba2eae7bc5ac51d,(CNN) -- The race is on to locate the latest B...,Banksy is currently showcasing his latest art ...,"['Banksy', 'New York', 'art', 'residency', 'so...",Banksy started out as a graffiti artist in wes...
2,2,02271c690c2e7876fbd1167750e91d360205b8f0,(CNN) -- Late one afternoon in the summer of 2...,The author reflects on her unconventional rela...,"['marriage', 'divorce', 'love', 'commitment', ...","Elizabeth Gilbert is the author of ""Eat, Pray,..."
3,3,0228c2331812dc41f4dbac83845761d7e632d400,(CNN) -- Rafael Nadal made light work of Marco...,Rafael Nadal showcased his prowess at the Aego...,"['Rafael Nadal', 'Aegon Championships', 'grass...",Rafael Nadal wins his first game on grass in t...
4,4,022a2cd3f444f0a362aa7d66267cb74ba5bebd94,"Jakarta, Indonesia (CNN) -- International flig...",International flights to Bali have been cancel...,"['Bali', 'flights', 'volcanic', 'ash', 'Mount ...",An ash cloud has affected flights to the Indon...

In [ ]:
print(f"max character count: {df['article'].apply(len).max()}")
print(f"max word count: {df['article'].apply(lambda x: len(str(x).split())).max()}")
# max_length for tokenized articles is around 3000

max character count: 11441
max word count: 1887

In [ ]:
print(f"max character count: {df['gpt_summary'].apply(len).max()}")
print(f"max word count: {df['gpt_summary'].apply(lambda x: len(str(x).split())).max()}")
# max_length for tokenized summaries is around 256

max character count: 792
max word count: 111

In [5]:
# do 80/10/10 split on df, then save as separate csv
train_df, temp_df = train_test_split(df, test_size=0.2, random_state=42)
val_df, test_df = train_test_split(temp_df, test_size=0.5, random_state=42)

# Save to CSV files
train_df.to_csv('synthetic/summary_train.csv', index=False)
val_df.to_csv('synthetic/summary_val.csv', index=False)
test_df.to_csv('synthetic/summary_test.csv', index=False)

In [6]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 27814 entries, 19821 to 15795
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unnamed: 0     27814 non-null  int64
 1   id             27814 non-null  object
 2   article        27814 non-null  object
 3   gpt_summary    27814 non-null  object
 4   gpt_keywords   27814 non-null  object
 5   human_summary  27814 non-null  object
dtypes: int64(1), object(5)
memory usage: 1.5+ MB

In [7]:
val_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3477 entries, 8658 to 24601
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unnamed: 0     3477 non-null   int64
 1   id             3477 non-null   object
 2   article        3477 non-null   object
 3   gpt_summary    3477 non-null   object
 4   gpt_keywords   3477 non-null   object
 5   human_summary  3477 non-null   object
dtypes: int64(1), object(5)
memory usage: 190.1+ KB

In [10]:
test_df.head()

,Unnamed: 0,id,article,gpt_summary,gpt_keywords,human_summary
2805,122,d637da92309e496d6020b334fd9fd494610b2064,(CNN) -- Imagine if a streetlamp knew you were...,Tvilight is an innovative system that transfor...,"['Tvilight', 'energy', 'streetlights', 'techno...",Tvilight is a streetlamp system that brightens...
23175,3961,281857c8d939dc2da94885a29d191b71624d4a36,"(CNN Student News) -- August 12, 2014 . This T...","The CNN Student News report on August 12, 2014...","['Yazidis', 'Ukraine', 'mayor', 'college athle...",This page includes the show Transcript .\nUse ...
13514,89,ac02746a6c65fc4de51ee6bb44ebcc6c474c39a9,(CNN) -- Russia's Prime Minister Vladimir Puti...,Russian Prime Minister Vladimir Putin met with...,"['Putin', 'China', 'trade', 'energy', 'pipeline']",China's premier Wen Jiabao meets Vladimir Puti...
6272,8,01a238e9b569966c88901616404f89e89dd12e37,(CNN)The crusade to find a home for a sacred e...,The legendary electric guitar known as Les Pau...,"['Les Paul', 'Black Beauty', 'guitar', 'auctio...","The Black Beauty is being sold by Tom Doyle, t..."
20352,1138,0e1bbb8fe4bbcb37a3249725a1d2fdb6b30efa5d,"OK, we can admit it. Even though Kate Upton sp...",Kate Upton's remarkable achievement of being t...,"['Kate Upton', 'training', 'fitness', 'mind-bo...",Fitness trainer David Kirsch started working w...